* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 98vh;
}

.container {
    max-height: 90%;
    max-width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}