* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 98vh;
}

.container {
    max-height: 90%;
    max-width: 90%;
    display: grid;
    place-content: center;
    /* grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr; */
    grid-template-areas: 'box1 box1 box2 box3' 'box4 box5 box5 box3';
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.box5 {
    grid-area: box5;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}